html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, div, h2, h3, p, form,
fieldset, label, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

main {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #2343AD, #33cccc);
}

.form-signin {
  width: 400px;
  height: 500px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}

.form-login {
  width: 455px;
  height: 320px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
  background: rgba(238, 238, 238, 0.9);
  position: relative;
  top: 200px;
}
.form-login {
  background-image: url(TunedIn-logo.png); 
}

.login-input {
  background: rgba(255, 255, 255, 1);
  width: 340px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #bbb;
  font-size: 17px;
  padding-left: 7px;
  opacity: 200;
}

.login-label {
  font-size: 12px;
  color: #666666;
  float: left;
  position: relative;
  left: 27px;
}

.login-submit {
  width: 340px;
  height: 40px;
  background: linear-gradient(to top right, #287bbc, #287aaa);
  border-radius: 4px;
  border: 1px solid #1b5480;
  position: relative;
  top: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.login-submit:hover {
  background: #1b5666;
}
.login-link {
  color: #666666;
}

.login-link:hover {
  text-decoration: underline;
}

.login-signin{
  position: relative;
  top: 50px;
  font-size: 16px;
}

.signin-input{
  width: 340px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #bbb;
  font-size: 17px;
  padding-left: 7px;

}

.login {
  background-image: url("live-band.jpg");
  background-size: cover;
  height: 1400px;
}

.signin-header {
  width: 600px;
  height: 140px;
  position: relative;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.signin-header h2{
  font-size: 30px;
  color: white;
  font-family: "Monsato", sans-serif;
  padding: 5px;
  padding-bottom: 20px;
}

.signin-header h3{
  font-size: 25px;
  color: white;
  font-family: "Monsato", sans-serif;
}

.signin-field {
  padding: 1px;
}

.signin-submit {
  width: 340px;
  height: 40px;
  background: linear-gradient(to top right, #287bbc, #287aaa);
  border-radius: 4px;
  border: 1px solid #1b5480;
  position: relative;
  top: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.signin-login{
  position: relative;
  top: 50px;
  font-size: 16px;
}

.signin-link {
  color: blue;
}

.signin-label {
  font-size: 12px;
  color: #666666;
  float: left;
  position: relative;
  left: 27px;
}
