.error{
  color: red;
  font-size: 12px;

}

 .signup-first {

}

.signup-last{

}

.signup-email{

}

.signup-password{

}

.error-login{
  color: red;
  font-size: 12px;
  position: absolute;
  top: 90px;
  left: 130px;
}
