.form-login {
  width: 455px;
  height: 340px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
  background: rgba(238, 238, 238, 0.9);
  position: relative;
  top: 70px;
}

.login-header {
  width: 600px;
  height: 140px;
  position: relative;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.login-header h2{
  position: absolute;
  width: 350px;
  height: 200px;
  left: 135px;
  bottom: -220px;
  z-index: 100;
  background-image: url("TunedIn-logo.png");
  background-repeat:no-repeat;
  background-position: center center;

}

.login-input {
  background: rgba(255, 255, 255, 1);
  width: 340px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #bbb;
  font-size: 17px;
  padding-left: 7px;
  opacity: 200;
  position:relative;
  top: 110px;
}

.login-submit {
  width: 170px;
  height: 40px;
  background: linear-gradient(to top right, #287bbc, #287aaa);
  border-radius: 4px;
  border: 1px solid transparent;
  position: relative;
  top: 130px;
  right: 89px;
  font-size: 18px;
  font-weight: lighter;
  color: white;
}

.login-submit .guest{
  height: 20px;
}

.guest{
  position: relative;
  top: 58px;
  left: 230px;
  text-align: center;
}

.guest-btn{
  width: 170px;
  height: 40px;
}

.login-submit:hover {
  background: #33ccff;
}

.login-link {
  color: #999999;
}

.login-link:hover {
  text-decoration: underline;
}
.signin-link:hover {
  text-decoration: underline;
}

.login-signin{
  position: relative;
  top: 150px;
  font-size: 14px;
  color: #666666;
}

.login {
  background-image: url("red_crowd.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  height: 985px;
}
