.search-item{
  width: 100%;
  height: 30px;
  position: relative;
  border-bottom: 1px solid #ccc;
  font-family: sans-serif;
  padding-left: 10px;

}

.search-items{
  float: left;
  width: 350px;
  height: 100%;
  color: #555;
  background: white;
  position: relative;
  left: 494px;
  bottom: 50px;
}
.search-item-link{
  width: 100%;
  height: 100%;
}

.search-item:hover{
  transition: background-color 1s ease;
  background-color: #eee;
}
