.search{
  width: 420px;
  position: relative;
  float: left;
  bottom: 35px;
  height: 45px;
}

.search-btn{
  width: 50px;
  height: 28px;
  background: #0099ff;
  background-image: -webkit-linear-gradient(top,#0099ff, #0099ee);
  border: 1px solid transparent;
  color: white;
  font-family: sans-serif;
  border-radius: 3px;
  position: relative;
  bottom: 2px;
}

.search-item{
  width: 100%;
  height: 30px;
  position: relative;
  border-bottom: 1px solid #ccc;
  font-family: sans-serif;
  padding-left: 10px;

}

.search-items{
  float: left;
  width: 350px;
  height: 100%;
  color: #555;
  background: white;
  position: relative;
  right: 420px;
  bottom: 29px;
}
.search-item-link{
  width: 100%;
  height: 100%;
}

.search-item:hover{
  transition: background-color 1s ease;
  background-color: #eee;
}



.searchbar{
  width: 345px;
  height: 25px;
  position: relative;
  right: 5px;
  border-radius: 2px;
  border: 1px solid #bbb;
  font-size: 12px;
  padding-left: 7px;
}

.search-div{
  margin: 0 auto;
  width: 420px;
}

.mainnav {
  position: relative;
  margin: 0 auto;
  height: 45px;
  background: #333;
  background-image: -webkit-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
}


.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
}

.subdiv{
  position: relative;
  width: 900px;
  height: 100%;
  margin: 0 auto;
}

.nav-link{
  position: relative;
  bottom: 40px;
  font-family: sans-serif;
  font-size: 13px;
  color: #ddd;
  padding-left: 40px;
}

.nav-link:hover{
  transition: color 1s ease;
  color: #66d9ff;
}

.subnav {
  margin: 0 auto;
  height: 30px;
  background: #222;
}
