.search-item{
  width: 100%;
  height: 30px;
  position: relative;
  border-bottom: 1px solid #ccc;
  font-family: sans-serif;
  padding-top: 10px;
  padding-left: 10px;

}

.search-items{
  float: left;
  width: 400px;
  height: 100%;
  color: #555;
  background: white;
  position: relative;
  left: 470px;
  bottom: 50px;
}
