.notification-icon{
  /*float: right;*/
  color: white;
  position: relative;
  width: 200px;
  /*right: 300px;*/
}

.logout-btn{
  float:right;
  position: relative;
  right: 50px;
  padding:left;
}



.dropdown {
  position: absolute;
  top: 18px;

  width: 300px;
  height: 60px;
  display: inline-block;
  display: none;
}

.logout-btn:hover{
  transition: color 1s ease;
  color: #aaa;
}

.right-side{
  float: right;
  height: 100%;
  width: 400px;
  background: transparent;
  color: white;
  font-family: sans-serif;
  position: absolute;
  left: 900px;
  top: 15px;
}

.notification-item{
  /*display: none;*/
  color: black;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  z-index: 10;
  padding: 10px;
}

.notification-item h2{
  text-align: center;
}

.notification-item:hover{
  transition: background-color 1s ease;
  background-color: #ccc;
}
/*
.notification-icon:hover .notification-item {
  display:block;
}*/

.noti-buttons{
  padding-top: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.noti-accept:hover{
  transition: color 1s ease;
  color: #66d9ff;
}

.noti-decline:hover{
  transition: color 1s ease;
  color: #66d9ff;
}

.notification-icon:hover .dropdown {
  display: block;
}

.badge {
  display: inline;
  font-size: 10px;
  padding: 1px 1px;
  color: #66d9ff;
  background: transparent;
  border-radius: 50%;
}
