.notification-icon{
  /*float: right;*/
  color: white;
  position: relative;
  /*right: 300px;*/
}

.logout-btn{
  float:right;
  position: relative;
  right: 50px;
  padding:left;
}



.dropdown {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 300px;
  height: 60px;
  display: inline-block;
  display: none;
}

.logout-btn:hover{
  transition: color 1s ease;
  color: #aaa;
}

.right-side{
  float: right;
  height: 100%;
  width: 400px;
  background: transparent;
  color: white;
  font-family: sans-serif;
  position: relative;
  top: 15px;
}

.notification-item{
  /*display: none;*/
  position: absolute;
  color: black;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  z-index: 3;
}
/*
.notification-icon:hover .notification-item {
  display:block;
}*/

.notification-icon:hover .dropdown {
  display: block;
}

.badge {
  display: inline;
  font-size: 14px;
  padding: 1px 6px;
  background: #000;
  border-radius: 50%;
}
