.post-sec{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: white;
  height: 100%;
  width: 650px;
  font-size: 30px;
  font-family: sans-serif;
  color: #aaa;
  font-weight: lighter;
  top: 80px;
}

.post-author{
  color: #777;
  font-size: 15px;
  position: relative;
  left: 10px;
  top: 7px;
}

.add-post-btn{
  position: relative;
  bottom: 70px;
  background: white;
  font-size: 26px;
}

.add-post-btn:hover{
  transition: color 1s ease;
  color: #66d9ff;
}

.post-items{

}

.post-item{
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
  border-left: 1px solid #aaa;
}

.post-pic{
  position: relative;
  right: 120px;
  width: 100px;
  height:100px;
}

.post-item-show{
  position: relative;
  bottom: 100px;
}

.post-title{
  padding: 5px;
  color: #aaa;
  border-bottom: 1px solid #bbb;

}

.post-body{
  padding: 5px;
  font-size: 12px;
  color:black;
}


.post-edit-btn{

  font-size: 15px;
  color: #444;
  padding: 6px;
  font-weight:normal;
  position: relative;
}

.post-edit-btn:hover{
  transition: color 1s ease;
  color: #66d9ff;
}

.post-remove-btn{
  font-size: 15px;
  color: #444;
  padding: 6px;
  font-weight:normal;
  position: relative;
  left: 5px;
}

.post-remove-btn:hover{
  transition: color 1s ease;
  color: #66d9ff;
}

.post-rmv-edit{
  float: right;
  position: relative;
  bottom: 20px;
}
