.post-form{
  font-family: sans-serif;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.post-label{
  position: relative;
  left: 3px;
}

.post-input{
  width: 300px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
}

.post-txt-area{
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
}

.post-submit{
  border: 1px solid transparent;
  background: #44b7dd;
  color: white;
  height: 40px;
  width: 70px;
  font-size: 15px;
  border-radius: 3px;

}

.post-cancel{
  height: 40px;
  width: 70px;
  border: 1px solid transparent;
  position: relative;
  font-family: sans-serif;
  font-size: 15px;
  background: #bbb;
  bottom: 61px;
  left: 100px;
  border-radius: 3px;
  text-align: center;
}
