.profile-header{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid #ddd;
  height: 200px;

  width: 650px;
  font-size: 30px;
  font-family: sans-serif;
  color: black;
  font-weight: lighter;
  top: 100px;
}

.pic-container {
    width: 170px;
    position: relative;
    bottom: 20px;
}

.pic-container img {
    width: 100%;
    height: auto;
}

.pro-pic{
  position: relative;

  top: 0px;
  height: 170px;
  width: 160px;
}

.pro-text{
  position: relative;
  bottom: 157px;
  left: 190px;
  height: 170px;
  width: 440px;
}

.pro-name {
  font-size: 27px;
  font-weight: bold;
  width: 100%;
  padding-bottom: 10px;
}

.pro-pos{
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
}

.pro-loc{
  font-size: 15px;
  font-weight: normal;
  color: #888;
  padding-bottom: 10px;
}

.pro-edit{
  font-size: 15px;
  background: #eee;
  color: #444;
  padding: 6px;
  font-weight:normal;
  position: relative;
  top: 42px;
}

.pro-edit:hover{
  transition: background-color 1s ease;
  background-color: #66d9ff;
  color: white;
}

.pic-upload{
  position: relative;
  top: 150px;
  width: 100%;
  color: transparent;
}
