.profile-header{
  position: absolute;
  left: 382px;
  top: 90px;
  background: white;
  border: 1px solid #ddd;
  height: 200px;
  width: 650px;
  color: black;
  font-family: sans-serif;
}

.pro-pic{
  border: 1px solid black;
  position: relative;
  top: 15px;
  height: 170px;
  width: 160px;
}

.pro-text{
  border: 1px solid black;
  position: relative;
  bottom: 157px;
  left: 190px;
  height: 170px;
  width: 440px;
}

.pro-name {
  font-size: 27px;
  font-weight: bold;
}
