.profile-header{
  position: absolute;
  left: 397px;
  top: 90px;
  background: white;
  border: 1px solid #ddd;
  height: 200px;
  width: 650px;
  color: black;
  font-family: sans-serif;
}

.pro-pic{
  position: relative;
  top: 15px;
  height: 170px;
  width: 160px;
}

.pro-text{
  position: relative;
  bottom: 157px;
  left: 190px;
  height: 170px;
  width: 440px;
}

.pro-name {
  font-size: 27px;
  font-weight: bold;
  padding-bottom: 10px;
}

.pro-pos{
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
}

.pro-loc{
  font-size: 15px;
  font-weight: normal;
  color: #888;
  padding-bottom: 10px;
}

.pro-edit{
  font-size: 15px;
  background: #eee;
  color: #444;
  padding: 6px;
  font-weight:normal;
  position: relative;
  top: 42px;
}

.pro-edit:hover{
  transition: background-color 1s ease;
  background-color: #66d9ff;
  color: white;
}

.pic-upload{
  position: relative;
  top: 150px;
  width: 100%;
  color: transparent;
}
