

.mainnav {
  height: 45px;
  background: #333;
  background-image: -webkit-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
}

.subnav {
  height: 30px;
  background: #222;
}

.profile {
  background: #eee;
  height: 100%;
  margin: 0px;
}



.add-exp-btn {
  float: right;
  font-size: 15px;
  background: #eee;
  color: #444;
  padding: 6px;
  font-weight:normal;
  position: relative;
  right: 20px;
  bottom: 45px;
}

.add-exp-btn:hover {
  transition: background-color 0.5s ease;
  background-color: #66d9ff;
  color: white;
}
