// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-header{
  margin: 0 auto;
  left: 265px;
  background: white;
  border: 1px solid #ddd;
  height: 160px;
  width: 650px;
  color: black;
  font-family: sans-serif;
}

.header-sec{
  width: 100%;
  height: 100%;
  position: relative;
  top: 100px;
}

.connections-button{
  position: relative;
  bottom: 130px;
  left: 500px;
  z-index: 2;
}

.connections-button:hover{
  transition: color 1s ease;
  color: #66d9ff;
}
