<!DOCTYPE html>
<html>
<head>
  <title>TunedIn</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="../../assets/stylesheets/header.scss" type="text/css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
